/*
* @Author: Daniel Goberitz
* @Date:   2017-02-18 22:24:14
* @Last Modified by:   danyg
* @Last Modified time: 2017-02-19 12:01:55
*/
#toolbar {
	/*background: #444;*/
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	color: #eee;
	padding: 1px 5px;
	height: 2.2em;
    line-height: 1.8em;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

#toolbar li {
	margin: 1px 5px 1px 1px;
}

#toolbar .btn {
	padding: 0em .4em;
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
	border: none;
	color: #eee;
	border-radius: 4px;
	cursor: pointer;
	opacity: .9;
	transition: opacity 200ms;
	user-select: none;
}

#toolbar .btn:hover {
	opacity: 1;
}

#toolbar .input input {
	width: 100%;
}
#toolbar .url-matcher {
	width: 100%;
}
#toolbar .url-matcher input {
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	border-color: #666;
	background: #222;
	color: #eee;
	text-indent: 5px;
	font-family: monospace;
}
#toolbar .url-matcher input:focus {
	outline: none;
}

#toolbar .url-matcher input.passed {
	border-left-color: lightgreen;
}

#toolbar .url-matcher input.failed {
	border-left-color: lightpink;
}
